MONGODB_URL="mongodb://127.0.0.1:27017/shopping-app-7b58af"
PROJECT_NAME="shopping-app-7b58af"
PROJECT_LABEL="Shopping App 7b58af"
PROJECT_ID="6a94fdfb7eb22c18847b58c2"
LAST_UPDATED="8/31/2026"
ENV="dev"

S3_URL="https://code-bridge-apps.s3.ap-southeast-1.amazonaws.com/shopping-app-7b58af"
S3_BUCKET="code-bridge-apps"
S3_REGION="ap-southeast-1"
S3_ACCESS_KEY=
S3_ACCESS_SECRET=

MAIL_MAILER="smtp"
MAIL_HOST="smtp.gmail.com"
MAIL_PORT=587
MAIL_USERNAME="menakamohan1999@gmail.com"
MAIL_PASSWORD="~cb-mailServer-password~"
MAIL_ENCRYPTION="tls"
MAIL_NO_REPLY_ALIAS="no_reply@example.com"

USE_USER_INVITE_SIGNUP=true

LLM_CLASS1="~cb-llm-class1~"
LLM_CLASS2="~cb-llm-class2~"
LLM_CLASS3="~cb-llm-class3~"